.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.align-end {
  align-items: end;
}

.text-end {
  text-align: end;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-32 {
  gap: 32px;
}